<!-- <div class="view intro-2">
    <div class="full-bg-img">
        <div class="mask rgba-gradient flex-center">
            <div class="container text-center white-text wow fadeInUp">
                
            </div>
        </div>
    </div>
</div> -->


<main>

  <!--Section: about-->
  <section id="about" class="pt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container py-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-2 title-color ">Why is Cynergy so great?</h2>
      <!-- Section description -->
      <p class="lead white-text text-center w-responsive mx-auto mb-2">Just a little bit more about Cynergy</p>
    </div>
    <!-- Container -->

  </section>
  <!--Section: about-->
  <section id="about" class="py-4 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(0, 11, 26);">

    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h2-responsive font-weight-bold text-center mb-4 subtitle-color ">We follow 4 principles</h2>
      <!-- Section description -->
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-3">
          <i class="fab fa-grunt fa-3x red-text"></i>
          <h5 class="font-weight-bold subtitle-color mt-3">Open to All</h5>
          <p class="white-text">We follow GNU's philosophy and our doors are always open</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3">
          <i class="fas fa-users fa-3x cyan-text"></i>
          <h5 class="font-weight-bold subtitle-color mt-3">Collaboration</h5>
          <p class="white-text"></p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3">
          <i class="fas fa-campground fa-3x pink-text"></i>
          <h5 class="font-weight-bold subtitle-color mt-3">Innovation</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          </p>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3">
          <i class="fas fa-trophy fa-3x orange-text"></i>
          <h5 class="font-weight-bold subtitle-color mt-3">Competition</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,

          </p>
        </div>
        <!--Grid column-->

      </div>
    </div>
    <!-- Container -->

  </section>


  <section id="about" class="py-4 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h2-responsive font-weight-bold text-center mb-4 title-color ">What we do.</h2>
      <!-- Section description -->
      <hr style="background-color: yellow;">
      <div class="row text-center">

        <p class="lead white-text text-center w-responsive mx-auto mb-2">SOme text+++++++++Just a little bit more about
          Cynergy
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum sequi, nam explicabo tempora illum qui recusandae omnis vel, officiis a minima excepturi nemo cupiditate eius. Ea id error eius atque! </p>


      </div>
    </div>
    <!-- Container -->

  </section>
  <section id="about" class="py-4 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(0, 11, 26);">

    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h2-responsive font-weight-bold text-center py-1 subtitle-color ">How we do.</h2>
      <!-- Section description -->
      <hr style="background-color: orangered;">
      <p class="lead white-text text-center w-responsive mx-auto pb-4">A different approach to learn programming.
        Concept of Tracks.</p>
      <div class="row text-center">

        <!--Grid column-->
        <div class="col-md-4">
          <h5 class="font-weight-bold subtitle-color mt-3">Competitve Track</h5>
          <p class="white-text">We follow GNU's philosophy and our doors are always open</p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <h5 class="font-weight-bold subtitle-color mt-3">Workshops</h5>
          <p class="white-text"></p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4">
          <h5 class="font-weight-bold subtitle-color mt-3">Development Track</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam,
          </p>
        </div>
        <!--Grid column-->

      </div>
    </div>
    <!-- Container -->

  </section>
</main>