<div class="view intro">
  <div class="full-bg-img mask rgba-purple-light">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 80vh">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="display-3 title-color mb-2 wow fadeInDown" data-wow-delay="0.3s">A bit more about our Cohort</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <section class="team-section text-center" style="background-color:rgb(3, 14, 29);">
    <div class="container">
      <!-- Section heading -->
      <br>
      <h2 class="h1-responsive font-weight-bold my-2 title-color">Our amazing team</h2>
      <!-- Section description -->
      <p class="white-text w-responsive mx-auto mb-5">The guys behind all this awesomness.</p>

      <!-- Grid row -->
      <div class="row wow fadeIn" data-wow-delay="0.1s">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/RoopaMaam.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mrs. Roopa S. Patil</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/NithinSir.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mr. Nithin Rao R.</h5>
          <p class="text-uppercase blue-text">
            <strong>Activities Mentor</strong>
          </p>
          <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
            doloremque
            rem laudantium totam
            aperiam.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/HariSir.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mr. Hari Krishna S. M.</h5>
          <p class="text-uppercase blue-text">
            <strong>Technical Mentor</strong>
          </p>
          <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa accusantium
            doloremque
            rem laudantium totam
            aperiam.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
      <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Chetan.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Chetan Surana R</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Chirag.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Chirag Mittal</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Shubham.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shubham Agnihotri</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Rishabh.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Rishabh Mittal</h5>
          <p class="text-uppercase blue-text">
            <strong>Backend developer</strong>
          </p>
          <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
            totam
            officia voluptates perferendis
            voluptatibus aut.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Shyamant.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shyamant Achar</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Vishal.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Vishalkrishna Bhosle</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Alok.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Alok Kumar Singh</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Aryan.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Aryan Jalali</h5>
          <p class="text-uppercase blue-text">
            <strong>Backend developer</strong>
          </p>
          <p class="grey-text">Perspiciatis repellendus ad odit consequuntur, eveniet earum nisi qui consectetur
            totam
            officia voluptates perferendis
            voluptatibus aut.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Satyajit.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Satyajit Ghana</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/VivekB.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Vivek Badani</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Shikhar.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shikhar Singh</h5>
          <p class="text-uppercase blue-text">
            <strong>Outreach Mentor</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
  <!-- Section: Team v.1 -->

</main>