<div class="view intro">
  <div class="full-bg-img mask rgba-purple-light">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 80vh">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h2 class="display-3 mb-2 wow fadeInDown" style="color: rgb(255, 255, 255)" data-wow-delay="0.3s">A bit
                more about our Cohort</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <section class="team-section text-center" style="background-color:rgb(3, 14, 29);">
    <div class="container">
      <!-- Section heading -->
      <br>
      <h2 class="h1-responsive font-weight-bold my-2 title-color">Our amazing team</h2>
      <!-- Section description -->
      <p class="white-text w-responsive mx-auto mb-5">The guys behind all this awesomness.</p>

      <!-- Grid row -->
      <div class="row wow fadeIn" data-wow-delay="0.1s">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/RoopaMaam.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mrs. Roopa S. Patil</h5>
          <p class="text-uppercase blue-text">
            <strong>Promotion & Outreach Mentor</strong>
          </p>
          <p class="grey-text"></p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/roopa.patil3">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Email -->
            <a class="p-2 fa-lg email-ic" href="mailto:roopa.tsld@msruas.ac.in">
              <i class="far fa-envelope blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/NithinSir.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mr. Nithin Rao R.</h5>
          <p class="text-uppercase blue-text">
            <strong>Activities Mentor</strong>
          </p>
          <p class="grey-text"></p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!-- Email -->
            <a class="p-2 fa-lg email-ic" href="mailto:nithin.cs.et@msruas.ac.in">
              <i class="far fa-envelope blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/HariSir.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Mr. Hari Krishna S. M.</h5>
          <p class="text-uppercase blue-text">
            <strong>Technical Mentor</strong>
          </p>
          <p class="grey-text"></p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/Harikrishnasm1992">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Email -->
            <a class="p-2 fa-lg email-ic" href="mailto:harikrishna.cs.et@msruas.ac.in">
              <i class="far fa-envelope blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->
      </div>


      <!-- Grid row -->
      <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">


        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Chetan.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Chetan Surana R</h5>
          <p class="text-uppercase blue-text">
            <strong>core member and founder</strong>
          </p>
          <p class="grey-text">Brings perfection to anything you can come up with.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://facebook.com/chetansurana97">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/chetansurana015">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!--guthub-->
            <a class="p-2 fa-lg ins-ic" href="https://github.com/chetan015">
              <i class="fab fa-github blue-text"></i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Chirag.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Chirag Mittal</h5>
          <p class="text-uppercase blue-text">
            <strong>core member and founder</strong>
          </p>
          <p class="grey-text">you name it; he can do it.</p>
          <ul class="list-unstyled mb-0">
            <!--guthub-->
            <a class="p-2 fa-lg ins-ic" href="https://GitHub.com/mittalchirag">
              <i class="fab fa-github blue-text"></i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Shubham.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shubham Agnihotri</h5>
          <p class="text-uppercase blue-text">
            <strong>core member and founder</strong>
          </p>
          <p class="grey-text">can make machines talk.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://m.facebook.com/shubham.agnihotri.79">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic" href="https://mobile.twitter.com/KillerStrike17">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/shubham_17_/?hl=en">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!--Github-->
            <a class="p-2 fa-lg ins-ic" href="https://github.com/KillerStrike17">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Rishabh.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Rishabh Mittal</h5>
          <p class="text-uppercase blue-text">
            <strong>core member and founder</strong>
          </p>
          <p class="grey-text">Can make the computer think.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/rishabh.mittal.73345">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic" href="https://twitter.com/mittrish_01">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/rish_mitt/">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic" href="https://www.github.com/mitrish">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->


      <!-- Grid row -->
      <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">

        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Shyamant.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shyamant Achar</h5>
          <p class="text-uppercase blue-text">
            <strong>Web Developer</strong>
          </p>
          <p class="grey-text">Only finds elegant and to the point solutions.</p>
          <ul class="list-unstyled mb-0">
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/shyamant.achar">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic" href="https://github.com/firekind">
              <i class="fab fa-github blue-text"> </i>
            </a>

          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Vishal.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Vishalkrishna Bhosle</h5>
          <p class="text-uppercase blue-text">
            <strong>graphic designer</strong>
          </p>
          <p class="grey-text">Can bring goosebumps with his editing skills.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/vkblaze">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/v.i.s.h.a.l.k_b.l.a.z.e/">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic" href="https://github.com/vkBlaze">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Alok.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Alok Kumar Singh</h5>
          <p class="text-uppercase blue-text">
            <strong>Web developer</strong>
          </p>
          <p class="grey-text">Can explain concepts better than books.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/alok.kumarsingh.9235">
              <i class="fab fa-facebook-f blue-text"></i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/?hl=en">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!--github-->
            <a class="p-2 fa-lg ins-ic" href="https://github.com/ALOK743165">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->



        <!-- Grid column -->
        <div class="col-lg-3 col-md-6">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Aryan.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Aryan Jalali</h5>
          <p class="text-uppercase blue-text">
            <strong>Graphic designer</strong>
          </p>
          <p class="grey-text">So creative, can come up with n solutions in n seconds.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic" href="www.facebook.com/szepetry">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>

            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic" href="www.twitter.com/szepetry">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic" href="www.instagram.com/aryan_jalali">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
            <!-- Github -->
            <a class="p-2 fa-lg ins-ic" href="www.github.com/szepetry">
              <i class="fab fa-github blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->






        <!-- Grid row -->
        <div class="row py-5 wow fadeIn" data-wow-delay="0.1s">

          
        <!-- Grid column -->
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="../../assets/team_images/Shikhar.png" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Shikhar Singh</h5>
            <p class="text-uppercase blue-text">
              <strong>Web Developer</strong>
            </p>
            <p class="grey-text">Loves to play with websites</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic" href="https://m.facebook.com/shikharsingh64">
                <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/shikhar_x06/">
                <i class="fab fa-instagram blue-text"> </i>
              </a>
              <!--github-->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/shikhar101">
                <i class="fab fa-github blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="../../assets/team_images/Satyajit.png" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Satyajit Ghana</h5>
            <p class="text-uppercase blue-text">
              <strong>Web developer</strong>
            </p>
            <p class="grey-text">Hardcore coder; can code in more languages than he can speak; CP is life; drop table
              members; <br> :P that didn't work</p>
            <ul class="list-unstyled mb-0">
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic" href="https://twitter.com/satyajitghana">
                <i class="fab fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/shadowleaf.satyajit/">
                <i class="fab fa-instagram blue-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/satyajitghana">
                <i class="fab fa-github blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <img src="../../assets/team_images/VivekB.png" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3 subtitle-color">Vivek Badani</h5>
            <p class="text-uppercase blue-text">
              <strong>Social media team</strong>
            </p>
            <p class="grey-text">Brings jugad to tech.</p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/profile.php?id=100006969228548">
                <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic" href="https://twitter.com/BadaniVivek?s=08">
                <i class="fab fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic" href="https://instagram.com/__vv_09?utm_source=ig_profile_share&igshid=1vm6e16v2y1yb">
                <i class="fab fa-instagram blue-text"> </i>
              </a>
              <!--github-->
              <a class="p-2 fa-lg ins-ic" href="https://github.com/VivekBadani">
                <i class="fab fa-github blue-text"> </i>
              </a>
            </ul>
          </div>
        <!-- Grid column -->

        </div>
        <!-- Grid column -->
      </div>
    </div>
  </section>
  <!-- Section: Team v.1 -->

</main>
