*{
    font-family: 'Montserrat', sans-serif;
}
.view {
    background: url("../../../assets/backgrounds/background-cynergy.jpg");
    background-attachment: fixed; 
    min-height: 80vh;
}
.title-color{
    color: rgb(222, 63, 15);
}
.subtitle-color{
    color: #FDC830;
}