<main>
  <section class="py-5" style="background-color:rgb(3, 14, 29);">
    <div class="container">
      <!-- Vertical Steppers -->
      <div class="row my-5">
        <div class="col-md-12">

          <mat-vertical-stepper [linear]="isLinear" #stepper style="background-color: rgba(11, 43, 56, 0.747); color:white;">
            
            <mat-step [stepControl]="basicInfo">
              <form [formGroup]="basicInfo" class="form-container">
                <ng-template matStepLabel>Basic Information</ng-template>
                <mat-form-field>
                  <input matInput type="name" placeholder="full name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="email" placeholder="email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="username" formControlName="username" required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="password" placeholder="password" formControlName="password" required>
                </mat-form-field>
                <!-- <mat-form-field>
                    <input matInput type="password" placeholder="re-enter password" formControlName="repassword" required>
                  </mat-form-field> -->
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="specificInfo">
              <form [formGroup]="specificInfo" class="form-container">
                <ng-template matStepLabel>Specific Information</ng-template>
                <mat-form-field>
                  <mat-select placeholder="Branch" formControlName="branch" required>
                    <mat-option *ngFor="let branch of branches" [value]="branch">
                      {{branch}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Year" formControlName="year" required>
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-select placeholder="Preferred Programming Language" formControlName="language">
                    <mat-option *ngFor="let language of languages" [value]="language">
                      {{language}}
                      <!--list of languages-->
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="University Registration Number" formControlName="reg_no"
                    required>
                </mat-form-field>
                <mat-form-field>
                  <input matInput type="text" placeholder="GitHub username" formControlName="github_username" required>
                </mat-form-field>
                <p> <a href="https://github.com/join?source=header-home" target="_blank">Click here</a> to create a
                  GitHub Account</p>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>

            </mat-step>
            <mat-step>
              <ng-template matStepLabel>One more Click</ng-template>
              Form Filled !.
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="register()">Register</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>

        </div>


      </div>

    </div>




  </section>

</main>
