<!-- Footer -->
<footer class="page-footer font-small" style="background-color:rgb(0, 22, 54);">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center title-color">

                    <!-- Facebook -->
                    <a class="fb-ic" href="https://facebook.com/cynergy.ruas">
                        <mdb-icon fab icon="facebook" size="2x" class="mr-md-5 mr-3 title-color"></mdb-icon>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" href="https://twitter.com/cynergy_ruas">
                        <mdb-icon fab icon="twitter" size="2x" class=" mr-md-5 mr-3 title-color"></mdb-icon>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" href="mailto:cynergyruas@gmail.com">
                        <mdb-icon fab fab icon="google-plus" size="2x" class="mr-md-5 mr-3 title-color"></mdb-icon>
                    </a>
                    <!--GitHub-->
                    <a class="li-ic" href="https://github.com/cynergy-ruas">
                        <mdb-icon fab icon="github" size="2x" class="mr-md-5 mr-3 title-color"></mdb-icon>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://instagram.com/cynergy_ruas">
                        <mdb-icon fab icon="instagram" size="2x" class="mr-md-5 mr-3 title-color"></mdb-icon>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://cynergy-ruas.github.io/">Made with <i class="fas fa-heart red-text"> </i> by Cynergy | Coding Club</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->