<!-- Footer -->
<footer class="page-footer font-small" style="background-color:rgb(0, 22, 54);">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 py-5">
                <div class="mb-5 flex-center title-color">

                    <!-- Facebook -->
                    
                    <a class="p-2 fa-lg fb-ic mx-auto" href="https://facebook.com/cynergy.ruas">
                        <i class="fab fa-facebook fa-lg title-color" > </i>
                    </a>
                    <!-- Twitter -->
                    
                    <a class="p-2 fa-lg tw-ic mx-auto" href="https://twitter.com/cynergy_ruas">
                            <i class="fab fa-twitter fa-lg title-color" > </i>
                        </a>
                    <!-- Mail-->
                    <a class="p-2 fa-lg fb-ic mx-auto" href="mailto:cynergyruas@gmail.com">
                        <i class="far fa-envelope fa-lg title-color" > </i>
                    </a>
                    <!--Github -->
                    <a class="p-2 fa-lg fb-ic mx-auto" href="https://github.com/cynergy-ruas">
                            <i class="fab fa-github fa-lg title-color" > </i>
                        </a>
                    <!--Instagram-->
                    <a class="p-2 fa-lg fb-ic mx-auto" href="https://instagram.com/cynergy_ruas">
                            <i class="fab fa-instagram fa-lg title-color" > </i>
                        </a>
                    
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://cynergy-ruas.github.io/">Made with <i class="fas fa-heart red-text"> </i> by Cynergy | Coding Club</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->