<!-- Main Intro -->
<!-- <div class="view intro-2">
  <div class="full-bg-img">
    <div class="mask rgba-gradient flex-center">
      <div class="container text-center white-text wow fadeInUp" data-wow-delay="0.2s">

        <ul class="mb-0 list-unstyled">
          <li>
            <h2 class="h2-responsive">
              <i class="fas fa-quote-left" aria-hidden="true"></i>
              {{quote.text}}
              <i class="fas fa-quote-right" aria-hidden="true"></i></h2>
          </li>
          <li class="mb-0">
            <h5 class="text-center font-italic mb-0">
              ~ {{quote.author}}
            </h5>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div> -->
<!-- /Main Intro -->

<!--Intro Section-->
<div id="intro-section" class="view">

    <video class="video-intro" poster="https://mdbootstrap.com/img/Photos/Others/background.jpg" playsinline autoplay
      muted loop>
      <source src="../../../assets/video/cynergy-trailer.mp4" type="video/mp4">
    </video>

    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">

      <!-- Content -->
      <div class="container px-md-3 px-sm-0">

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-md-12 mb-4 white-text text-center wow fadeIn">

            <h3 class="display-4 font-weight-bold white-text mb-0 mt-5 pt-md-5 pt-5">Hi, this is <span style="font-family: Devil Breeze Medium">CY</span><span style="color: rgb(157,29,89); font-family: Devil Breeze Medium">NERGY</span>!</h3>
            <hr class="hr-light my-4 w-75">
            <h4 class="subtext-header mt-2 mb-4">Bigger and Better.</h4>
          
          </div>
          <!--Grid column-->

        </div>
        <!--Grid row-->

      </div>
      <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

  </div>

<!--Main layout-->
<main>
  <!--Section: About-->
  <section id="about" class="py-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(0, 22, 54);">

    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-5 title-color ">What is CYNERGY?</h2>
      <!-- Section description -->
      <p class="lead white-text text-center w-responsive mx-auto mb-5">Cynergy is the ﬁrst of its kind coding club at RUAS. The purpose of Cynergy is embodied in its core open principles -  Collaboration, Innovation and Competition. Cynergy is a platform to promote learning and development of programming skills. It empowers students with competitive programming skills through activities like Hackathon and Share sessions. </p>
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-6 ">
          <!--Grid row-->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-1">
              <i class="fas fa-share fa-lg orange-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3 subtitle-color">Technology</h5>
              <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-1">
              <i class="fas fa-share fa-lg orange-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3 subtitle-color">Finance</h5>
              <p class="white-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!--Grid row-->
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6">

          <!-- Grid row -->
          <div class="row mb-3">

            <!-- Grid column -->
            <div class="col-1">
              <i class="fas fa-share fa-lg orange-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3 subtitle-color">Safety</h5>
              <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="row">

            <!-- Grid column -->
            <div class="col-1">
              <i class="fas fa-share fa-lg orange-text"></i>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3 subtitle-color">Technology</h5>
              <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
                minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
                assumenda deleniti hic.</p>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->



        </div>
        <!--Grid column-->

      </div>
      <!-- Grid row -->
    </div>
    <!-- Container -->

  </section>
  <!--Section: about-->

  <!--Section: events-->
  <section id="events" class="text-center py-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container">

      <!--Section heading-->
      <h2 class="font-weight-bold h1 py-5">
        <strong class="title-color">Events</strong>
      </h2>
      <!--Section description-->
      <p class="grey-text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu
        fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-4">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="purple-text">
                  <i class="fas fa-code"></i>
                  <strong> Workshop</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Workshop Title</strong>
                </h3>
                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  fugiat,
                  laboriosam,
                  voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                  dignissimos.
                  Odit sed qui, dolorum!
                </p>
                <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> View Event Details</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="pink-text">
                  <i class="fas fa-chalkboard-teacher"></i>
                  <strong> Session</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Session Topic</strong>
                </h3>
                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  fugiat,
                  laboriosam,
                  voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                  dignissimos.
                  Odit sed qui, dolorum!
                </p>
                <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> View Session Details</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20%2873%29.jpg);">
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
              <div>
                <h6 class="pink-text">
                  <i class="fas fa-chalkboard-teacher"></i>
                  <strong> Session</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong>Session Topic</strong>
                </h3>
                <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat
                  fugiat,
                  laboriosam,
                  voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum
                  dignissimos.
                  Odit sed qui, dolorum!
                </p>
                <a mdbBtn color="pink" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                  <i class="far fa-clone left"></i> View Session Details</a>
              </div>
            </div>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
    <!-- Container -->

  </section>
  <!--Section: gallery-->

  <!--Section: testimonials-->
  <section id="testimonials" class="team-section text-center py-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(0, 22, 54);">

    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="h1-responsive font-weight-bold title-color ">Want to Join?</h2>
        </div>
        <div class="col-md-4">
          <button mdbBtn class="wow animated swing" data-wow-iteration="3" data-wow-delay="0.4s" type="button" color="white" outline="true"
            mdbWavesEffect (click)="register()">Click here to become a member!</button>
        </div>
      </div>
      <!-- Section heading -->

    </div>
    <!-- Container -->

  </section>
  <!--Section: testimonials-->

  <!--Section: call to action-->
  <section id="events" class="text-center py-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container">

      <!--Section heading-->
      <h2 class="font-weight-bold h1 py-5">
        <strong class="title-color">Feel free to Contact</strong>
      </h2>
      <!--Section description-->
      <p class="grey-text pb-5 text-center">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu
        fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Aryan.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold subtitle-color mt-4 mb-3">Aryan Jalali</h5>
          <p class="text-uppercase blue-text">
            <strong>Graphic designer</strong>
          </p>
          <p class="grey-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
            adipisci sed
            quia non numquam modi
            tempora eius.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="p-2 fa-lg tw-ic">
              <i class="fab fa-twitter blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
            <img src="../../assets/team_images/Chirag.png" class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold subtitle-color mt-4 mb-3">Chirag Mittal</h5>
          <p class="text-uppercase blue-text">
            <strong>Web developer</strong>
          </p>
          <p class="grey-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem ipsa
            accusantium
            doloremque
            rem laudantium totam
            aperiam.</p>
          <ul class="list-unstyled mb-0">
            <!-- Facebook -->
            <a class="p-2 fa-lg fb-ic">
              <i class="fab fa-facebook-f blue-text"> </i>
            </a>
            <!-- Instagram -->
            <a class="p-2 fa-lg ins-ic">
              <i class="fab fa-instagram blue-text"> </i>
            </a>
          </ul>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
    <!-- Container -->

  </section>
  <!--Section: articles-->



</main>
<!--Main layout-->
