// .view {
//   background: url("../../../assets/backgrounds/background-cynergy.jpg") no-repeat center center;
//   background-size: cover;
//   height: 100vh;
// }

// .rgba-gradient {
// background-image: linear-gradient(-225deg, rgba(35, 225, 254, 0.5) 0%, rgba(29, 143, 225, 0.5) 48%, rgba(98, 94, 177, 0.5) 100%);
// }

// .title-color {
//   color: rgb(222, 63, 15);
// }

// .subtitle-color {
//   color: #FDC830;
// }

* {
  font-family: 'Montserrat', sans-serif;
}

/* Required for full background image */

html,
body,
header,
#intro-section {
height: 100vh !important;
}



.rgba-gradient {
background: -moz-linear-gradient(to top, #19165499, #43c6ac99);
background: -webkit-linear-gradient(to top, #19165460, #43c6ac99);
background: linear-gradient(to top, #19165499, #43c6ac99);
}

.view.mask {
overflow: auto !important;
}
.title-color{
  color: rgb(222, 63, 15);
}
.subtitle-color{
  color: #FDC830;
}
