<main>

  <!--Section: about-->
  <section id="about" class="pt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container py-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-2 title-color ">Feqruently Asked Questions (FAQs)</h2>
      <!-- Section description -->
      <p class="lead white-text text-center w-responsive mx-auto mb-2">Just a little bit more about Cynergy</p>
      <div class="row my-5">
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will attendance be given?</h5>
          <blockquote class="blockquote">
              <p class=" white-text h5-responsive mb-0">TL:DR;  </p>
            </blockquote>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will there be any cost to attend any session?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How frequently sessions will be held?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How can we contact the committee members in case of queries?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Who should we contact to for help on starting a project?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will the leaderboard points be calculated(for
            competitive programming)?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will contributions to open source projects be
            calculated? Will it affect the leaderboard?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will the details of the workshops/sessions be put up?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will a tech fest/hackathon be held by the club?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">What all does the club offer? What is its intended audience?</h5>
          <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
            minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
            assumenda deleniti hic.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
            <i class="fas fa-share fa-lg orange-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-11 col-md-11 col-11">
            <h5 class="font-weight-bold mb-3 subtitle-color">Can we give suggestions/feedback? and to whom?</h5>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad
              minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam
              assumenda deleniti hic.</p>
          </div>
          <!-- Grid column -->
      </div>

    </div>
    <!-- Container -->

  </section>
</main>