<main>

  <!--Section: about-->
  <section id="about" class="pt-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:rgb(3, 14, 29);">

    <!-- Container -->
    <div class="container py-5">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-2 title-color ">Frequently Asked Questions (FAQs)</h2>
      <!-- Section description -->
      <p class="lead white-text text-center w-responsive mx-auto mb-2">Just a little bit more about Cynergy</p>
      <div class="row my-5">
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will attendance be given?</h5>
          <blockquote class="blockquote">
              <p class=" white-text h5-responsive mb-0">TL:DR;  </p>
            </blockquote>
          <p class="white-text">Mostly sessions will be conducted after college.
             However,if in any case the sessions are conducted during college 
             hours, then attendance will be given.</p>
        </div>
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will there be any cost to attend any session?</h5>
          <p class="white-text">Absolutely not. All the sessions are free and accessible by all the registered members of Cynergy. </p>
        </div>
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How frequently sessions will be held?</h5>
          <p class="white-text">Mostly it will be twice/thrice per week depending upon 
            the number if programs being organised by Cynergy except for exam and assignment weeks.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How can we contact the committee members in case of queries?</h5>
          <p class="white-text">Person of contact are open to all the queries regading our schedule and work process. 
            Their details are provided in the home page. Also you can leave your queries in 
          the online platforms made available to you.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Who should we contact to for help on starting a project?</h5>
          <p class="white-text">Our Core Commitee has the final say in all project related matters.
            In case of any matter regarding projects you can approach our core commitee.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will the leaderboard points be calculated(for
            competitive programming)?</h5>
          <p class="white-text">The points for competitive programming will be calculated in the following way.
            <br>1.Attend a session - 5 points.
            <br>2.Solving questions in session - 5 points per question.
            <br>3.Solve questions after session before deadline - 3 points per question.
            <br>4.Solve atleast one question in monthly coding challenges - 6 points.
            <br>5.Solved all questions in monthly coding challenges - 5 points per question.
            <br>6.Missing one session - (-2) points.  
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will contributions to open source projects be
            calculated? Will it affect the leaderboard?</h5>
          <p class="white-text">The contribution to open source projects will be counted depending upon the successfull pull 
            requests made by the contributer. Yes it will affect the leaderboard because the points earned through contributions 
          will be added.</p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">How will the details of the workshops/sessions be put up?</h5>
          <p class="white-text">We will put up the posters including details  of upcoming events and it will be notified 
            to registered users through emails.
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">Will a tech fest/hackathon be held by the club?</h5>
          <p class="white-text">Yes they will be hosted by the club once in every semester. Also monthly coding challenges 
            will be there to earn bonus points. ;D 
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
          <i class="fas fa-share fa-lg orange-text"></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-11 col-md-11 col-11">
          <h5 class="font-weight-bold mb-3 subtitle-color">What all does the club offer? What is its intended audience?</h5>
          <p class="white-text">The club will hold competitive programming sessions very frequently which will help you enhance your coding skills.
            In addition to this we will launch various open source projects contributing to which can earn you points.
            Also we will host Ted talks on Tech which will be delivered by expert professionals in their respective fields.
            Our target audience are all those people who loves Tech. :D 
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-1">
            <i class="fas fa-share fa-lg orange-text"></i>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xl-11 col-md-11 col-11">
            <h5 class="font-weight-bold mb-3 subtitle-color">Can we give suggestions/feedback? and to whom?</h5>
            <p class="white-text">We promote very healthy culture in our club. Everyone is free to suggest and leave a feedback to anyone in the club and it will 
              be considered as long as it is worth it.
            </p>
          </div>
          <!-- Grid column -->
      </div>

    </div>
    <!-- Container -->

  </section>
</main>