/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@font-face {
    font-family: 'Devil Breeze Medium';
    src: url('./assets/fonts/DevilBreezeMedium.ttf') format('truetype')
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

