* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  // background: rgb(222, 63, 15);
  // background: -moz-linear-gradient(45deg, rgba(222, 63, 15, 0.99) 0%, rgba(58, 29, 100, 0.92) 42%, rgba(157, 29, 89, 1) 100%);
  // background: -webkit-linear-gradient(45deg, rgba(222, 63, 15, 0.99) 0%, rgba(58, 29, 100, 0.92) 42%, rgba(157, 29, 89, 1) 100%);
  // background: linear-gradient(45deg, rgba(222, 63, 15, 0.99) 0%, rgba(58, 29, 100, 0.92) 42%, rgba(157, 29, 89, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de3f0f", endColorstr="#9d1d59", GradientType=1);
  // background: rgb(131, 58, 180);
  // background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.9) 50%, rgba(252, 176, 69, 1) 100%);
  // background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.9) 50%, rgba(252, 176, 69, 1) 100%);
  // background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 0.9) 50%, rgba(252, 176, 69, 1) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#fcb045", GradientType=1);

  // background: rgb(222, 63, 15);
  // background: -moz-linear-gradient(45deg, rgba(222, 63, 15, 0.9) 0%, rgba(157, 29, 89, 0.9) 48%, rgba(58, 29, 100, 0.9) 100%);
  // background: -webkit-linear-gradient(45deg, rgba(222, 63, 15, 0.9) 0%, rgba(157, 29, 89, 0.9) 48%, rgba(58, 29, 100, 0.9) 100%);
  // background: linear-gradient(45deg, rgba(222, 63, 15, 0.9) 0%, rgba(157, 29, 89, 0.9) 48%, rgba(58, 29, 100, 0.9) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de3f0f", endColorstr="#3a1d64", GradientType=1);

  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

particles {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin: 0;
  padding: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

canvas {
  margin: 0;
  padding: 0;
}

/* Count-Down Timer */

@import '~compass-mixins/lib/compass/css3';

// Global
// body {
//   background-color: #f2f1ed;
// }

// .wrap {
//   grid-area: countdown;
//   position: absolute;
//   bottom: 0;
//   top: 0;
//   left: 0;
//   right: 0;
//   // margin: auto auto auto auto;
//   margin-top: 80px;
//   height: 310px;
// }

// a {
//   text-decoration: none;
//   color: #1a1a1a;
// }

// Variables
$lato: 'Montserrat';

// // Title
// h1 {
//   margin-bottom: 20px;
//   text-align: center;
//   font: 300 2.25em $lato;
//   text-transform: uppercase;

//   strong {
//     font-weight: 400;
//     color: #ea4c4c;
//   }
// }

// h2 {
//   margin-bottom: 80px;
//   text-align: center;
//   font: 300 0.7em $lato;
//   text-transform: uppercase;

//   strong {
//     font-weight: 400;
//   }
// }

header {
  // display: block;
  display: none;
  background: rgba(58, 29, 100, 0.8);

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 10px;
  }
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  // padding: 10px;
  // height: calc(100% - 90px); // 70 px is the navbar
  height: 100vh;
}

// bottom-body
.main {
  flex: 5;
  // margin: auto;
  margin-left: 40px;
  padding: 10px;
  float: left;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: left;
}

.main h1 {
  display: block;
  color: #ffffff;
  font-size: 2.0em;
  font-weight: 1000;
  margin: 10px;
  align-self: flex-start;
  margin: 5px 0;
  margin-top: 0 !important;
  letter-spacing: 0px;
  line-height: 1.2;
}

.main h2 {
  color: #ffffff;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: 1000;
  line-height: 1.6;
}

.cynergy-text {
  font-family: 'Devil Breeze Medium' !important;
  font-size: 45px !important;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  // line-height: 0.6;
}

.nergy-text {
  color: rgb(157, 29, 89);

}


// #nergy {
//   font-family: 'Devil Breeze Medium' !important;
//   font-size: 1.5em;
//   margin: 0;
//   padding: 0;
//   color: rgb(157, 29, 89)
// }

#inaug-date {
  color: #ffffff;
  font-size: 1.5em;
}

.main .logo {
  max-height: 60px;
  margin: 10px 0;
}

.bottom-content {
  flex: 1;
  display: flex;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: auto;
}

.bottom-content .bottom-logo {
  max-height: 40px;
  // margin: auto;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20px;
}

.tag-line {
  display: none;
  flex: 5;
  margin: auto;
  padding: 10px;
  font-size: 2.6em;
  font-weight: 1000;
  color: #dfe4ea;
}

// Countdown
.countdown {
  border-bottom: solid 2px white;
  // flex: 1;
  // margin: auto;
  margin-bottom: 0;
  // margin-top: 0;
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  // padding-left:0;

  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  // align-items: center;
  // justify-content: center;

  .bloc-time {
    // flex: 1;
    // float: left;
    // margin-right: 60px;

    // margin: 30px;
    // padding-right: 8px;
    // padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0px;
      margin-right: 0px;
    }

    // display: flex;

    // &:last-child {
    //   margin-right: 0;
    // }
    // justify-content: space-between;
    // box-sizing: border-box;
    // flex-basis: 30%;
  }

  .bloc-time .digits {}

  .count-title {
    // display: block;
    // margin-bottom: 8px;
    // margin-top: 8px;
    margin: 0;
    padding: 0;
    font: normal $lato;
    color: #dfe4ea;
    font-weight: 100;
    padding-top: 5px;
    font-size: 0.8em;
    // text-transform: uppercase;
    // flex: 1;
    order: 2;
  }

  .figure {
    position: relative;
    float: left;
    // flex: 1;
    order: 1;
    // height: 110px;
    // width: 100px;
    height: 43px;
    width: 40px;

    margin-right: 2px;
    background-color: #fff;
    border-radius: 8px;
    @include box-shadow(0 3px 4px 0 rgba(0, 0, 0, .2), inset 2px 4px 0 0 rgba(255, 255, 255, .08));

    &:last-child {
      margin-right: 0;
    }

    >span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      // font: normal 5.94em/107px $lato;
      font: normal 2.4em/47px $lato;
      font-weight: 400;
      color: rgba(182, 31, 52, 1);
    }

    .top,
    .bottom-back {
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }

    .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      @include border-top-radius(10px);
      @include transform(perspective(200px));
    }

    .bottom {
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: rgba(0, 0, 0, .02);
      }
    }

    .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      @include border-top-radius(10px);

      span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .top,
    .top-back {
      height: 50%;
      overflow: hidden;
      @include backface-visibility(hidden);
    }

    .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      @include transform(perspective(200px) rotateX(180deg));
      @include border-bottom-radius(10px);

      span {
        position: absolute;
        top: -100%;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

//Blinking Cursor
.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  //Basic styling  
  display: inline-block;
  width: 4px;
  height: 20px;
  margin-left: 3px;
  // border-radius: 3px;
  box-shadow: 0 0 10px rgba(white, .3);
  background: #ffffff;
}

@keyframes blinker {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

// for shyamant's iPhone
@media only screen and (max-width: 340px) {

  .main h1 {
    font-size: 1.9em;
  }

  .main h2 {
    font-size: 0.8em;
  }

  #inaug-date {
    font-size: 1.4em;
  }

  .blinker {
    height: 20px;
    width: 4px;
  }

  .main .logo {
    max-height: 40px;
  }

  .wrap {
    margin: 0;
    padding: 0;
  }

  .tag-line {
    font-size: 2em;
    font-weight: 100;
  }

  .bottom-content .bottom-logo {
    max-height: 30px;
  }

  .countdown {
    .count-title {
      padding: 2px;
      padding-top: 5px;
      font-weight: 600;
      font-size: 0.6em;
    }

    .figure {
      height: 35px;
      width: 32px;

      >span {
        font: normal 1.94em/37px $lato;
        font-weight: 500;
      }
    }
  }
}

// for Desktops
@media only screen and (min-width: 768px) {

  body {
    padding: 20px;
  }

  .cynergy-text {
    font-size: 80px !important;
  }

  .wrap {
    margin: 0;
    padding: 0;
    flex-direction: row;
    height: calc(100vh - 90px) !important;
  }

  header {
    img {
      height: 60px;
      padding: 10px;
    }
  }

  .tag-line {
    font-size: 8em;
    font-weight: 1000;
  }

  .main {
    flex: 5;
    margin: auto;
    padding-left: 50px;
    h1 {
      font-size: 2.8em;
      line-height: 0.9;
    }
    h2 {
      font-size: 1.2em;
    }
  }

  #inaug-date {
    font-size: 1.8em;
  }

  .main .logo {
    max-height: 80px !important;
  }

  .bottom-content .bottom-logo {
    // display: none;
      max-height: 80px;
  }

  // .desktop-bottom {
  //   display: fixed !important;
  //   margin: 0;
  //   padding: 0;
  //   margin-bottom: 10px;
  //   margin-right: 10px;
  //   img {
  //     max-height: 60px;
  //   }
  // }

  .blinker {
    height: 60px;
  }

  .countdown {
    border-right: solid 2px white;
    display: flex;
    flex: 3.8;
    justify-content: stretch;
    flex-direction: column;
    border-bottom: none;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: auto;
    padding-right: 10px;

    .count-title {
      padding: 10px;
      padding-top: 20px;
      font-weight: 600;
      font-size: 1.5em;
    }

    .bloc-time {
      padding: 0;
      // padding-left: 100px;
      display: flex;
      flex-direction: row !important;
      justify-content: flex-end;
      margin-top: 10px;
      margin-bottom: 10px;
      // margin-left: 120px;

      &:first-child {
        padding: 0;
        justify-items: flex-start;
      }

      &:last-child {
        padding: 0;
        justify-items: flex-start;
      }

      .digits {
        width: fit-content;
        // flex: 0 0 40%;
      }

      .count-title {
        // width: fit-content;
        min-width: 150px;
        // margin: auto;
      }
    }

    .figure {
      height: 110px;
      width: 100px;
      margin-left: 10px !important;

      >span {
        font: normal 5.94em/107px $lato;
        font-weight: 1000;
      }
    }
  }


}
